
.ant-tabs-bar{
    border-bottom: none!important;
}
.bgData,.menu{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #e8e8e8;
    margin: 0;
    padding: 0;
}
.menu{
    background: #ddd;
}
.bgData>li,.menu>li{
    float: left;
    text-align: center;
    padding: 20px 0;
}
.bgData>li:nth-child(1){
    border-left: solid 20px;
}
