.nav{
    width: 100%;
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    border-bottom: 1px solid #e8e8e8;
}
.nav-left{
    display: flex;
    align-items: center;
}
.nav>div>ul{
    float: left;
    border: none;
}
.nav>div>.selectDate {
    margin-right: 0;
}
